# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
